Misc/
Slides/*.pdf
Slides/images/
Assignments/Assignment*
Syllabus/*.*
!Syllabus/Syllabus.tex
!Syllabus/Syllabus.pdf
!Syllabus/Syllabus.bib

*.aux
*.log
*.out
*.synctex.gz
*.bbl
*.blg
*.nav
*.snm
*.toc
*.vrb
*.dvi

*.dta
