    <hr>
    <nav id="dl-menu" role="navigation">
        <p style="text-align:center;">
            <a href="./">Home</a> | <a href="./cv/cv.pdf">CV</a> | <a href="./research.html">Research</a> | <a href="./lectures">Talks/Lectures</a> | <a href="./teaching.html">Teaching</a> | <a href="./software.html">Software</a> | <a href="https://dataverse.harvard.edu/dataverse/leeper">Data</a> | <a href="./blog.html">Blog</a> | <a href="./feed.xml">RSS Feed</a></p>
        <p style="text-align:center;font-size:75%">
            <a href="mailto:{{ site.email }}" target="_blank" rel="noopener noreferrer">Email</a> | 
            <a href="http://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener noreferrer">Twitter</a> | 
            <a href="http://orcid.org/{{ site.orcid }}" target="_blank" rel="noopener noreferrer">ORCiD</a> | 
            <a href="https://dataverse.harvard.edu/dataverse/{{ site.dataverse }}" target="_blank" rel="noopener noreferrer">Dataverse</a> | 
            <a href="https://scholar.google.com/citations?user={{ site.google-scholar }}" target="_blank" rel="noopener noreferrer">Google Scholar</a> | 
            <a href="https://publons.com/author/{{ site.publons }}" target="_blank" rel="noopener noreferrer">Publons</a> | 
            <a href="http://github.com/{{ site.github-url }}" target="_blank" rel="noopener noreferrer">Github</a> | 
            <a href="http://stackoverflow.com/users/{{ site.stackoverflow }}" target="_blank" rel="noopener noreferrer">StackOverflow</a> | 
            <a href="http://linkedin.com/in/{{ site.linkedin }}" target="_blank" rel="noopener noreferrer">LinkedIn</a>
    </nav>
    <div style="margin-left:20%; margin-right:20%;">
        <p style="text-align:center;font-size:.8em;"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="display:inline;" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a> Except where noted, this website is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</p><br />
    </div>
    </div>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-10964766-1', 'thomasleeper.com');
    ga('send', 'pageview');
    </script>

